html{
    height: 100%;
}

.center_map {
    margin: auto;
    width: 60%;
    padding-top:3%;
}

.center_carousel {
    padding-top: 3%;
    margin: auto;
    width: 30%;
}


.wrapper{
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

body {
  background-color: gainsboro;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

nav{
    height: 40px;
    width: auto;
    align-content: center;
    color:gainsboro;
}

svg{
    color: gainsboro;
}

#offcanvasExampleLabel{
    color: black;
}

#my-bike{
    padding-top: 3%;
    margin: auto;
    padding-right: 25%;
    padding-left: 25%;
}

p{
    padding-right:5%;
    padding-left:5%;
}

h3{
    padding-left:10%;
    padding-top:3%;
}

footer{
    text-align: center;
    font-size: 12px;
}
